<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                무언가를 만드는 데에는 많은 역할이 필요합니다. 여러분의 목표도 그렇겠지요.<br>
                프로그래머는 여러분의 꿈을 작동하는 형태로 실현시킵니다.<br>
                저는 길을 여는 프로그래머가 되고자 합니다. 길이 없더라도, 처음 가 보는 곳이더라도.
            </p>
            <p class="paragraph-text justify-text">
                
            </p>
        </div>
    </section>
</div>
