<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="chzzk" class="semi-transparent-button with-border white-button" onclick="selected('webdev')">Unity-치지직 서포트</a>
                    <a id="unity" class="semi-transparent-button with-border white-button" onclick="selected('native')">Unity-기타</a>
                    <a id="python" class="semi-transparent-button with-border white-button" onclick="selected('security')">Python</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
